{% extends 'majorApp/base.html' %}
{% load static %}


{% block title %}Dashboard{% endblock %}

{% block content %}


<div class="HeaderDiv">

    <h1>{{firm}}</h1>

</div>




<div class="container-fluid">
    <div class="row align-items-center ">
          
        <div class="col ">
            <table class="table w-100 TableItems">
                <thead>

                    <tr>
                        <td class="TableLabel">
                            <h2>Leads</h2>
                        </td>
                    </tr>
                </thead>
                <tbody class="TableBody">
                    <tr class="TableLabelRow">
                        <td>
                            <h2>Active Leads</h2>
                        </td>
                    </tr>
                    <tr class="Items ">
                        <td>
                            <div class="scroll-container h-100">
                                <ul>
                                    {% for lead in leads %}
                                        <li style="margin-bottom: 10px; border-bottom: 1px gray solid;">
                                            <a class="Item-A-Tag" href="{% url 'lead_detail' lead.id %}">{{lead}}</a>
                                        </li>
                                        <br>
                                        
                                    {% endfor %}
                                </ul> 
                            </div>
                        </td>
                    </tr>
                    
                </tbody>
                <tfoot>
                    <td>
                        <a href="{% url 'lead_create' %}" class="btn btn-sm btn-success">Add Lead</a>
                    </td>
                </tfoot>

            </table>
        
        </div>
        <div class="col">
            <table class="table w-100 TableItems" style="table-layout: fixed;">
                <thead>

                    <tr>
                        <td class="TableLabel">
                            <h2>Quotes</h2>
                        </td>
                    </tr>
                </thead>
                <tbody class="TableBody">
                    <tr class="TableLabelRow">
                        <td>
                            <h2>Active Quotes</h2>
                        </td>
                    </tr>
                    <tr class="Items">
                        <td >
                            <div class="scroll-container h-100">
                                <ul>
                                    {% for quote in quotes %}
                                        <li style="margin-bottom: 10px; border-bottom: 1px gray solid;">
                                            <a class="Item-A-Tag" href="{% url 'quote_detail' quote.id %}">{{quote}}</a>
                                        </li>
                                        
                                    {% endfor %}
                                </ul> 
                            </div>
                        </td>
                    </tr>
                    
                </tbody>
                <tfoot>
                    <td>
                        <a href="{% url 'quote_create' %}" class="btn btn-sm btn-success">Add Quote</a>
                    </td>
                </tfoot>

            </table>
        
        </div>
        <div class="col">
            <table class="table w-100 TableItems">
               <thead>
                    <tr>
                        <td class="TableLabel">
                            <h2>Invoices</h2>
                        </td>
                    </tr>
                </thead>
                <tbody class="TableBody">
                    <tr class="TableLabelRow">
                        <td>
                            <h2>Active Invoices</h2>
                        </td>
                    </tr>
                    <tr class="Items">
                        <td >
                            <div class="scroll-container">
                                <ul>
                                    {% for invoice in invoices %}
                                        <li style="margin-bottom: 10px; border-bottom: 1px gray solid;">
                                            <a class="Item-A-Tag" href="{% url 'invoice_detail' invoice.id %}">{{invoice}}</a>
                                        </li>
                                        
                                    {% endfor %}
                                </ul> 
                            </div>
                        </td>
                    </tr>
                    
                </tbody>
                <tfoot>
                    <td>
                        <a href="{% url 'invoice_create' %}" class="btn btn-sm btn-success">Add Invoice</a>
                    </td>
                </tfoot>

            </table>
        
        </div>
        
        

        
        
    </div>   
    

</div>


{% endblock %}

