
{% load static %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        
        <link onload="this.media='all'" media="print"  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link href="{% static 'majorApp/css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
        <script defer src="{% static 'majorApp/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        
        <link href="{% static 'majorApp/css/base.css' %}" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{% static 'majorApp/images/icon-192x192.png' %}">
        
        <!-- Link to the Web App Manifest file (defines how the PWA behaves when installed) -->
        <link rel="manifest" href="{% static 'manifest.json' %}" defer>

        <!-- Sets the browser toolbar color on mobile devices when the PWA is launched -->
        <meta name="theme-color" content="#000000">

        <!-- Specifies the icon used when the app is added to the home screen on Apple devices (not needed for android as they are supported natively through Chrome on Android) -->
        <link rel="apple-touch-icon" href="{% static 'majorApp/images/icon-192x192.png' %}">

        <!-- Makes the app fullscreen and hides browser UI -->
        <meta name="mobile-web-app-capable" content="yes">
    </head>
    <body class="BodyDiv d-flex flex-column min-vh-100">
        
      
    <header class="sticky-top">
      <nav class="navbar navbar-expand-lg NavBarDiv"  data-bs-theme="dark">
          <div class="container-fluid">
            <div class="NavBarUlDiv" >
              <ul class="navbar-nav d-flex flex-row flex-wrap">
                <li class="nav-item">
                  <a class="nav-link {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}" aria-current="page" href="{% url 'dashboard' %}">Dashboard</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% if request.resolver_match.url_name == 'leads' %}active{% endif %}" aria-current="page" href="{% url 'leads' %}">Leads</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% if request.resolver_match.url_name == 'quotes' %}active{% endif %}" aria-current="page" href="{% url 'quotes' %}">Quotes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% if request.resolver_match.url_name == 'invoices' %}active{% endif %}" aria-current="page" href="{% url 'invoices' %}">Invoices</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% if request.resolver_match.url_name == 'companies' %}active{% endif %}" aria-current="page" href="{% url 'companies' %}">Companies</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% if request.resolver_match.url_name == 'contacts' %}active{% endif %}" aria-current="page" href="{% url 'contacts' %}">Contacts</a>
                </li>
                
                
              </ul>
            </div>

            <ul class="navbar-nav d-flex">
                <li class="nav-item dropdown">
                    <a alt="User Profile Button" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="userDropdown">
                        <i alt="User Profile Icon" class="bi bi-person-circle"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        <li><a class="dropdown-item" href="{% url 'edit_firm' %}">Edit Firm</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                    </ul>
                </li>
              
            </ul>


          </div>
        </nav>
      </header>
        
      <div class="flex-grow-1">
            <!-- Main content -->
            {% block content %}
            
            {% endblock %}
      </div>


        <footer>

          <div class="container-fluid FooterDiv">

              <p>© 2025 Josh Monaghan - All Rights Reserved</p>
              
          </div>

        </footer>
        
        
    </body>
</html>