
{% load static %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link href="{% static 'majorApp/css/bootstrap.min.css' %}" rel="stylesheet">
        
        <link href="{% static 'majorApp/css/base.css' %}" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{% static 'majorApp/images/TestFavicon.png' %}">
        
    </head>
    <body class="BodyDiv">
        
      
    <header class="sticky-top">
      <nav class="navbar navbar-expand-lg NavBarDiv"  data-bs-theme="dark">
          <div class="container-fluid">
            <div class="NavBarUlDiv" >
              <ul class="navbar-nav d-flex flex-row flex-wrap">
                <li class="nav-item">
                  <a class="nav-link {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}" aria-current="page" href="{% url 'dashboard' %}">Dashboard</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% if request.resolver_match.url_name == 'leads' %}active{% endif %}" aria-current="page" href="{% url 'leads' %}">Leads</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% if request.resolver_match.url_name == 'quotes' %}active{% endif %}" aria-current="page" href="{% url 'quotes' %}">Quotes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% if request.resolver_match.url_name == 'invoices' %}active{% endif %}" aria-current="page" href="{% url 'invoices' %}">Invoices</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% if request.resolver_match.url_name == 'companies' %}active{% endif %}" aria-current="page" href="{% url 'companies' %}">Companies</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% if request.resolver_match.url_name == 'contacts' %}active{% endif %}" aria-current="page" href="{% url 'contacts' %}">Contacts</a>
                </li>
                
                
              </ul>
            </div>

            <div class="NavBarIcons d-flex">
              <a href="mailto:joshmono2008@outlook.com" class="nav-link mx-2" title="Email">
                  <i class="fa fa-user-circle" aria-hidden="true"></i>
              </a>
              
          </div>


          </div>
        </nav>
      </header>
        
            <!-- Main content -->
            {% block content %}
            
            {% endblock %}
        


        <footer>

          <div class="container-fluid FooterDiv">

              <p>© 2025 Josh Monaghan - All Rights Reserved</p>
              
          </div>

        </footer>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        
        
    </body>
</html>