{% extends 'majorApp/base.html' %}
{% load static %}


{% block title %}Quote Details{% endblock %}

{% block content %}
<div class="container">
    <h1 style="margin-top: 50px; ">Quote</h1>
    <div  class="d-flex justify-content-center align-items-center" >

        <table class="table">
    
                <tr>
                    <td>
                        Company    
                    </td>
                    <td>
                        {{quote.company}}    
                    </td>
                </tr>
                <tr>
                    <td>
                        Status
                    </td>
                    <td>
                        {{quote.status}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Notes
                    </td>
                    <td>
                        {{quote.notes}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Contacts
                    </td>
                    <td>
                        {{quote.get_contacts_string}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Last Contacted
                    </td>
                    <td>
                        {{quote.last_contact_date}}
                    </td>
                </tr>
                
            

        </table>

        
    </div>
    <a class="btn btn-danger" href="{% url 'lead_delete' quote.id %}">Delete</a>
    <a class="btn btn-warning" href="{% url 'lead_edit' quote.id %}">Edit</a>
</div>

{% endblock %}