{% extends 'majorApp/base.html' %}
{% load static %}


{% block title %}{{create_edit}} Invoice{% endblock %}

{% block content %}

<div class="HeaderDiv">
	<h1>{{create_edit}} Invoice</h1>
</div>
<div class="container justify-content-center align-items-center" style="margin-top: 50px;">
	<form method="post" class="p-4 border rounded shadow Create-Form">
		{% csrf_token %}

			{% for field in form.visible_fields  %}

				<div class=" row">
					<div class="col-auto mb-3 form-control">
						{{ field.label_tag }}
						{{ field }}
						<small class="form-text text-muted">{{ field.help_text }}</small>
					</div> 
					<div style="color: red;" class="col-auto mb-3">{{ field.errors }}</div>
				</div>
				{% if field.name == 'status' %}
				<div class="form-control mb-3 row">
					<div id="item-forms">
							<h5>Invoice Items</h2>
							{{ form_set.management_form }}
							{% for form in form_set %}
							
							<div class="mb-3 row formset-item ">
								<div class="col-auto mb-3">
									<div class="row">
										{% for field in form.visible_fields %}
											{% if field.name == "DELETE" %}
												<div style="display: None;">
													{{ field.label_tag }}
													{{ field }}
												</div>
											{% else %}
												<div class="col-3 mb-2">
													{{field.label_tag}}
												</div>
												<div class="col-9 mb-2">
													{{field}}
												</div>
											{% endif %}
										{% endfor %}
										<div class="col-6 mb-1">
											<button type="button" class="delete-item btn btn-sm btn-danger">Delete</button>
										</div> 
										{% for field in form.hidden_fields %}
											<div style="display: none;">{{ field }}</div>
										{% endfor %}

									</div>
								</div> 
								<div style="color: red;" class="col-auto mb-3">{{ form.errors }}</div>
							</div>
							
						{% endfor %}
						</div>
						<div id="totalDiv" style="text-align: center;"></div>
						<button type="button" id="add-item" class="btn btn-sm btn-outline-dark">Add Item</button>
					</div>
					
				{% endif %}
			{% endfor %}
				
			{% for field in form.hidden_fields %}
				{{ field }}
			{% endfor %}
			



		<div style="text-align: center;">
			<button class="btn btn-primary" type="submit">Save</button>
		</div>
	</form>
</div>

<script>

    document.addEventListener('DOMContentLoaded', function() {
        let itemFormsContainer = document.querySelector('#item-forms');
        let addAuthorBtn = document.querySelector('#add-item');
		const totalForms = document.getElementById('id_form-TOTAL_FORMS');
		let formCount = parseInt(totalForms.value);
		const totalDiv = document.getElementById("totalDiv");
		let totalPrice = 0;

		refreshPriceListener();
		updateTotal();
		updateDeleteButtons();


		document.querySelector("[name='company']").addEventListener("change", function()  {
			var companyId = this.value;
			fetch(`/get_invoices/?company_id=` + companyId)
				.then(response => response.json())
				.then(data => {
					var quoteDropdown = document.querySelector("[name='quote']");
					var option = document.createElement("option");
					option.textContent = "---------"
					option.value = ""
					quoteDropdown.innerHTML = "";
					quoteDropdown.appendChild(option)
					data.quotes.forEach(lead => {
						var option = document.createElement("option");
						option.value = lead.id;
						option.textContent = lead.name;
						quoteDropdown.appendChild(option);
					});
				});
		});


		function refreshPriceListener() {
			let price_inputs = document.querySelectorAll("input[type='number'][name*='price']");
			
			price_inputs.forEach(element => {
				
				element.addEventListener('keyup', updateTotal)
			});
		}

		function updateTotal() {
			let price_inputs = document.querySelectorAll("input[type='number'][name*='price']");
			totalPrice = 0;
			price_inputs.forEach(element => {
				totalPrice = totalPrice + parseFloat(element.value) || 0;
			});
			totalDiv.innerHTML = `Total: ${totalPrice}`
			

		}

		function updateDeleteButtons() {
			document.querySelectorAll('.delete-item').forEach((btn) => {
				btn.onclick = function () {
					console.log("Here")
					const formItem = btn.closest('.formset-item');
					if (!formItem) return;

					const deleteInput = formItem.querySelector('input[name$="-DELETE"]');
					if (deleteInput) {
						deleteInput.checked = true;
						formItem.style.display = 'none';
					}
				};
    	    });
		}
		
        addAuthorBtn.addEventListener('click', function() {
            let emptyFormHtml = `

			
						<div class="mb-3 row formset-item">

							<div class="col-auto mb-3">
								<div class="row">
								{% for field in form_set.empty_form.visible_fields %}
									{% if field.name == "DELETE" %}
										<div style="display: None;">
											{{ field.label_tag }}
											{{ field }}
										</div>
									{% else %}
										<div class="col-3 mb-2">
											{{field.label_tag}}
										</div>
										<div class="col-9 mb-2">
											{{field}}
										</div>
									{% endif %}
									{% endfor %}
									<div class="col-6 mb-1">
										<button type="button" class="delete-item btn btn-sm btn-danger">Delete</button>
									</div> 
								</div> 
							</div> 
							
							<div style="color: red;" class="col-auto mb-3">{{ form_set.empty_form.errors }}</div>
									
								
						</div>
							`;
            

    
    		const newFormHtml = emptyFormHtml.replace(/__prefix__/g, formCount);
			const newFormElement = document.createElement('div');
			newFormElement.innerHTML = newFormHtml;
			itemFormsContainer.appendChild(newFormElement)

			
			formCount = formCount + 1;
			totalForms.value = formCount;
			refreshPriceListener()
			updateDeleteButtons();
        });
	});
		
</script>

{% endblock %}