{% extends 'majorApp/base.html' %}
{% load static %}


{% block title %}Invoice Details{% endblock %}

{% block content %}
<div class="container">
    <h1 style="margin-top: 50px; ">Invoice</h1>
    <div  class="d-flex justify-content-center align-items-center" >

        <table class="table">
    
                <tr>
                    <td>
                        Company    
                    </td>
                    <td>
                        {{invoice.company}}    
                    </td>
                </tr>
                <tr>
                    <td>
                        Status
                    </td>
                    <td>
                        {{invoice.status}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Notes
                    </td>
                    <td>
                        {{invoice.notes}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Quote
                    </td>
                    <td>
                        {% if quote_id %}
                        <a href="{% url 'quote_detail' quote_id %}">{{invoice.quote}}</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        Contacts
                    </td>
                    <td>
                        {{invoice.get_contacts_string}}
                    </td>
                    
                </tr>
                
            

        </table>

        
    </div>
    <a class="btn btn-danger" href="{% url 'invoice_delete' invoice.id %}">Delete</a>
    <a class="btn btn-warning" href="{% url 'invoice_edit' invoice.id %}">Edit</a>
</div>

{% endblock %}