{% extends 'majorApp/base.html' %}
{% load static %}


{% block title %}Invoices{% endblock %}

{% block content %}

<h1>Invoices</h1>

<div class="container" style="max-width: 90%;">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Company    
                </th>
                <th>
                    Status
                </th>
                <th>
                    Notes
                </th>
                <th>
                    Contacts
                </th>
                <th></th>
            </tr>
        </thead>
        {% for invoice in invoices %}
            <tr>
                <td>
                    {{invoice.company}}    
                </td>
                <td>
                    {{invoice.status}}
                </td>
                <td>
                    {{invoice.notes}}
                </td>
                <td>
                    {{invoice.get_contacts_string}}
                </td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{% url 'invoice_detail' invoice.id %}">View</a>
                </td>
            </tr>
        {% endfor %}
    </table>

</div>

{% endblock %}