{% extends 'majorApp/base.html' %}
{% load static %}


{% block title %}Create Quote{% endblock %}

{% block content %}
<h1>{{create_edit}} Quote</h1>
<h2>{{company}}</h2>
<div class="container bg-light p-3 border justify-content-center align-items-center" style="margin-top: 50px; max-width: 600px;">
	<form method="post" class="row">
		{% csrf_token %}

		<table class="table">

			{% for field in form %}

				<div class=" row">
					<div class="col-auto mb-3">
						{{ field.label_tag }}
					</div>
					<div class="col-auto mb-3">
						{{ field }}
					</div> 
					<div style="color: red;" class="col-auto mb-3">{{ field.errors }}</div>
				</div>
				{% if field.name == 'status' %}
				<div>
					<h5>Quote Items</h2>
						<div id="item-forms" class="mb-3 row">
							{{ form_set.management_form }}
							<div class="mb-3 row">
								{% for item_field in form_set %}
									<div class="col-auto mb-3">
										{{ item_field.label_tag }}
									</div>
									<div class="col-auto mb-3">
										{{ item_field }}
									</div> 
									<div style="color: red;" class="col-auto mb-3">{{ item_field.errors }}</div>
								{% endfor %}
							</div>
						</div>
					</div>
					
					<div id="totalDiv" style="text-align: center;"></div>
					<button type="button" id="add-item">Add Item</button>
				{% endif %}
			{% endfor %}

			


		</table>
		<div style="text-align: center;">
			<button class="btn btn-primary" type="submit">Save</button>
		</div>
	</form>
</div>

<script>

    document.addEventListener('DOMContentLoaded', function() {
        let itemFormsContainer = document.querySelector('#item-forms');
        let addAuthorBtn = document.querySelector('#add-item');
		const totalForms = document.getElementById('id_form-TOTAL_FORMS');
		let formCount = parseInt(totalForms.value);
		const totalDiv = document.getElementById("totalDiv");
		let totalPrice = 0;

		refreshPriceListener();
		updateTotal();

		function refreshPriceListener() {
			let price_inputs = document.querySelectorAll("input[type='number'][name*='price']");
			
			price_inputs.forEach(element => {
				
				element.addEventListener('keyup', updateTotal)
			});
		}

		function updateTotal() {
			let price_inputs = document.querySelectorAll("input[type='number'][name*='price']");
			totalPrice = 0;
			price_inputs.forEach(element => {
				totalPrice = totalPrice + parseFloat(element.value)
			});
			totalDiv.innerHTML = `Total: ${totalPrice}`

		}
		
        addAuthorBtn.addEventListener('click', function() {
            let emptyFormHtml = `
							<div class="mb-3 row">
								{% for item_field in form_set.empty_form.visible_fields  %}
									<div class="col-auto mb-3">
										{{ item_field.label_tag }}
									</div>
									<div class="col-auto mb-3">
										{{ item_field }}
									</div> 
									<div style="color: red;" class="col-auto mb-3">{{ item_field.errors }}</div>
								{% endfor %}
							</div>`;
            

    
    		const newFormHtml = emptyFormHtml.replace(/__prefix__/g, formCount);
			const newFormElement = document.createElement('div');
			newFormElement.innerHTML = newFormHtml;
			itemFormsContainer.appendChild(newFormElement)

			
			formCount = formCount + 1;
			totalForms.value = formCount;
			refreshPriceListener()
        });
    });
</script>
{% endblock %}