{% extends 'majorApp/base.html' %}
{% load static %}


{% block title %}Create Quote{% endblock %}

{% block content %}
<div class="HeaderDiv">
	<h1>{{create_edit}} Quote</h1>
	<h2>{{company}}</h2>
</div>
<div class="container  justify-content-center align-items-center" style="margin-top: 50px;">
	<form method="post" class="p-4 border rounded shadow Create-Form">
		{% csrf_token %}

		

		{% for field in form.visible_fields  %}

			<div class=" row">
				<div class="col-auto mb-3 form-control">
					{{ field.label_tag }}
					{{ field }}
					<small class="form-text text-muted">{{ field.help_text }}</small>
				</div> 
				<div style="color: red;" class="col-auto mb-3">{{ field.errors }}</div>
			</div>
			{% if field.name == 'status' %}
			<div class="form-control mb-3 row">
				<div id="item-forms">
						<h5>Quote Items</h2>
						{{ form_set.management_form }}
						{% for form in form_set %}
							
							<div class="mb-3 row formset-item ">
								<div class="col-auto mb-3">
									{{ form }}
								</div> 
								<div class="col-auto mb-3">
									<button type="button" class="delete-item">Delete</button>
								</div> 
								<div style="color: red;" class="col-auto mb-3">{{ form.errors }}</div>
							</div>
							
						{% endfor %}
					</div>
					<div id="totalDiv" style="text-align: center;"></div>
					<button type="button" id="add-item">Add Item</button>
				</div>
					
				{% endif %}
			{% endfor %}

			{% for field in form.hidden_fields %}
				{{ field }}
			{% endfor %}

			


		
		<div style="text-align: center;">
			<button class="btn btn-primary" type="submit">Save</button>
		</div>
	</form>
</div>

<script>

	



    document.addEventListener('DOMContentLoaded', function() {
        let itemFormsContainer = document.querySelector('#item-forms');
        let addAuthorBtn = document.querySelector('#add-item');
		const totalForms = document.getElementById('id_form-TOTAL_FORMS');
		let formCount = parseInt(totalForms.value);
		const totalDiv = document.getElementById("totalDiv");
		let totalPrice = 0;

		refreshPriceListener();
		updateTotal();
		updateDeleteButtons();


		function refreshPriceListener() {
			let price_inputs = document.querySelectorAll("input[type='number'][name*='price']");
			
			price_inputs.forEach(element => {
				
				element.addEventListener('keyup', updateTotal)
			});
		}

		document.querySelector("[name='company']").addEventListener("DOMContentLoaded", function()  {
			var companyId = this.value;
			if (companyId){
			console.log(companyId);
			fetch(`/get_quotes/?company_id=` + companyId)
				.then(response => response.json())
				.then(data => {
					var leadDropdown = document.querySelector("[name='lead']");
					var option = document.createElement("option");
					option.textContent = "---------"
					option.value = ""
					leadDropdown.innerHTML = "";
					leadDropdown.appendChild(option)
					data.leads.forEach(lead => {
						var option = document.createElement("option");
						option.value = lead.id;
						option.textContent = lead.name;
						leadDropdown.appendChild(option);
					});
				});
			}
		});


		document.querySelector("[name='company']").addEventListener("change", function()  {
			var companyId = this.value;
			console.log(companyId);
			fetch(`/get_quotes/?company_id=` + companyId)
				.then(response => response.json())
				.then(data => {
					var leadDropdown = document.querySelector("[name='lead']");
					var option = document.createElement("option");
					option.textContent = "---------"
					option.value = ""
					leadDropdown.innerHTML = "";
					leadDropdown.appendChild(option)
					data.leads.forEach(lead => {
						var option = document.createElement("option");
						option.value = lead.id;
						option.textContent = lead.name;
						leadDropdown.appendChild(option);
					});
				});
		});

	

		function updateTotal() {
			let price_inputs = document.querySelectorAll("input[type='number'][name*='price']");
			totalPrice = 0;
			price_inputs.forEach(element => {
				totalPrice = totalPrice + parseFloat(element.value) || 0;
			});
			totalDiv.innerHTML = `Total: ${totalPrice}`
			

		}

		function updateDeleteButtons() {
			document.querySelectorAll('.delete-item').forEach((btn) => {
				btn.onclick = function () {
					console.log("Here")
					const formItem = btn.closest('.formset-item');
					if (!formItem) return;

					const deleteInput = formItem.querySelector('input[name$="-DELETE"]');
					if (deleteInput) {
						deleteInput.checked = true;
						formItem.style.display = 'none';
					}
				};
    	    });
		}
		
        addAuthorBtn.addEventListener('click', function() {
            let emptyFormHtml = `

			
						<div class="mb-3 row formset-item">

							<div class="col-auto mb-3 class="form-control"">
								{% for field in form_set.empty_form.visible_fields %}
									{% if field.name == "DELETE" %}
										<div style="display: None;">
											{{ field.label_tag }}
											{{ field }}
										</div>
									{% else %}
										<div >
											{{ field.label_tag }}
											{{ field }}
										</div>
									{% endif %}
									{% endfor %}
								</div> 
							
								<div class="col-auto mb-3">
									<button type="button" class="delete-item">Delete</button>
								</div> 
							<div style="color: red;" class="col-auto mb-3">{{ form_set.empty_form.errors }}</div>
									
								
						</div>
							`;
            

    
    		const newFormHtml = emptyFormHtml.replace(/__prefix__/g, formCount);
			const newFormElement = document.createElement('div');
			newFormElement.innerHTML = newFormHtml;
			itemFormsContainer.appendChild(newFormElement)

			
			formCount = formCount + 1;
			totalForms.value = formCount;
			refreshPriceListener()
			updateDeleteButtons();
        });
	});
		
</script>

{% endblock %}