{% extends 'majorApp/base.html' %}
{% load static %}


{% block title %}{{company}}{% endblock %}

{% block content %}


<div class="HeaderDiv">

    <h1>{{company}}</h1>

</div>

<div class="container-fluid" >
    <div class="row align-items-center">
          
        <div class="col">
            <table class="table w-100 TableItems">
                <thead>

                    <tr>
                        <td class="TableLabel">
                            <h2>Leads</h2>
                        </td>
                    </tr>
                </thead>
                <tbody class="TableBody">
                    <tr class="TableLabelRow">
                        <td>
                            <h2>Active Leads</h2>
                        </td>
                    </tr>
                    <tr class="Items">
                        <td >
                            <div class="scroll-container h-100">
                                <ul>
                                    {% for lead in leads %}
                                        <li style="margin-bottom: 10px;">
                                            <a  href="{% url 'lead_detail' lead.id %}" class="Item-A-Tag">{{lead}}</a>
                                        </li>
                                        
                                    {% endfor %}
                                </ul> 
                            </div>
                        </td>
                    </tr>
                    
                </tbody>
                <tfoot>
                    <td>
                        <a href="{% url 'lead_create' %}?company_id={{company.id}}" class="btn btn-sm btn-success">Add Lead</a>
                    </td>
                </tfoot>

            </table>
        
        </div>
        <div class="col">
            <table class="table w-100 TableItems">
                <thead>

                    <tr>
                        <td class="TableLabel">
                            <h2>Quotes</h2>
                        </td>
                    </tr>
                </thead>
                <tbody class="TableBody">
                    <tr class="TableLabelRow">
                        <td>
                            <h2>Active Quotes</h2>
                        </td>
                    </tr>
                    <tr class="Items">
                        <td >
                            <div class="scroll-container h-100">
                                <ul>
                                    {% for quote in quotes %}
                                        <li style="margin-bottom: 10px;">
                                            <a  href="{% url 'quote_detail' quote.id %}" class="Item-A-Tag">{{quote}}</a>
                                        </li>
                                        
                                    {% endfor %}
                                </ul> 
                            </div>
                        </td>
                    </tr>
                    
                </tbody>
                <tfoot>
                    <td>
                        <a href="{% url 'quote_create' %}?company_id={{company.id}}" class="btn btn-sm btn-success">Add Quote</a>
                    </td>
                </tfoot>

            </table>
        
        </div>
        <div class="col">
            <table class="table w-100 TableItems">
               <thead>
                    <tr>
                        <td class="TableLabel">
                            <h2>Invoices</h2>
                        </td>
                    </tr>
                </thead>
                <tbody class="TableBody">
                    <tr class="TableLabelRow">
                        <td>
                            <h2>Active Invoices</h2>
                        </td>
                    </tr>
                    <tr class="Items">
                        <td >
                            <div class="scroll-container h-100">
                                <ul>
                                    {% for invoice in invoices %}
                                        <li style="margin-bottom: 10px;">
                                            <a  href="{% url 'invoice_detail' invoice.id %}" class="Item-A-Tag">{{invoice}}</a>
                                        </li>
                                        
                                    {% endfor %}
                                </ul> 
                            </div>
                        </td>
                    </tr>
                    
                </tbody>
                <tfoot>
                    <td>
                        <a href="{% url 'invoice_create' %}?company_id={{company.id}}" class="btn btn-sm btn-success">Add Invoice</a>
                    </td>
                </tfoot>

            </table>
        
        </div>

        <div class="col">
            <table class="table w-100 TableItems">
               <thead>
                    <tr>
                        <td class="TableLabel">
                            <h2>Contacts</h2>
                        </td>
                    </tr>
                </thead>
                <tbody class="TableBody">
                    <tr class="TableLabelRow">
                        <td>
                            <h2>Contacts</h2>
                        </td>
                    </tr>
                    <tr class="Items">
                        <td >
                            <div class="scroll-container h-100">
                                <ul>
                                    {% for contact in contacts %}
                                        <li style="margin-bottom: 10px;">
                                            <a  href="{% url 'contact_detail' contact.id %}" class="Item-A-Tag">{{contact}}</a>
                                        </li>
                                        
                                    {% endfor %}
                                </ul> 
                            </div>
                        </td>
                    </tr>
                    
                </tbody>
                <tfoot>
                    <td>
                        <a href="{% url 'contact_create'%}?company_id={{company.id}}" class="btn btn-sm btn-success">Add Contact</a>
                    </td>
                </tfoot>

            </table>
        
        </div>

    </div>
</div>

{% endblock %}