{% extends 'majorApp/base.html' %}
{% load static %}


{% block title %}Contacts{% endblock %}

{% block content %}

<div class="HeaderDiv">
    <h1>Contacts</h1>
</div>

<div class="container" style="max-width: 90%;">

    <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>
                    First Name    
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Phone Number
                </th>
                <th>
                    Companies
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>
                    {{contact.first_name}}    
                </td>
                <td>
                    {{contact.last_name}}
                </td>
                <td>
                    {{contact.email}}
                </td>
                <td>
                    {{contact.phone_number}}
                </td>
                <td>
                    {{contact.get_companies}}
                </td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{% url 'contact_detail' contact.id %}">View</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot class="table-secondary">
            <tr>
                <td colspan="6" class="text-center fw-bold">
                    <a href="{% url 'contact_create' %}" class="btn btn-sm btn-success">Add Contact</a>
                </td>
            </tr>
        </tfoot>
    </table>

</div>

{% endblock %}