{% extends 'accounts/base.html' %}
{% load static %}
{% block content %}
  <div class="container mt-5" style="max-width: 600px;">
    <div class="HeaderDiv">
        <h1>Update Password</h1>
    </div>
      <div class="bg-light p-5 rounded shadow-sm" style="min-height: 400px;">
        <h2>Set New Password</h2>
        <p>Please enter your new password below.</p>
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="mb-3">
                {{ form.new_password1.label_tag }}
                {{ form.new_password1 }}
                {% if form.new_password1.errors %}
                <div class="text-danger small">{{ form.new_password1.errors }}</div>
                {% endif %}
            </div>

            <div class="mb-3">
                {{ form.new_password2.label_tag }}
                {{ form.new_password2 }}
                {% if form.new_password2.errors %}
                <div class="text-danger small">{{ form.new_password2.errors }}</div>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-primary w-100">Change Password</button>
        </form>
    </div>
  </div>
{% endblock %}